/*
.avatar img{
	margin:auto;
	width: 25%;
	border-radius: 10px;
	margin: 1% 5% 15% 5%;
}
*/
#btn-send{
	margin-top: 1%;
	width: 80%;
}

.form-container{
	background-color: rgba(255,255,255,.6);
	border-radius: 7px;
	margin-top: 1%;
}

/* css del registro docente  */

#horizontal_line {
	width: 45%;
	border-bottom: 1px dashed #181b10;
	margin: 5% auto;
}

/* fin css del registro docente  */

/* css de la administracion del perfil del docente  */
.avatar-perfil img{
	margin:auto;
	width: 30%;
	border-radius: 10px;
	margin: -4% 0% 0% 0%;
}

.avatar-perfil h6{
	margin:auto;
	margin: -1% 0% 0% 0%;
}

/* -----comienzo v4-------------------- */

/* -----bordes de prueba------ */

.borde-rojo{
	border: solid 1px red;
}

.borde-azul{
	border: solid 1px blue;
}

.borde-anaranjado{
	border: solid 1px orange;
}

.borde-verde{
	border: solid 1px green;
}

.borde-amarillo{
	border: solid 1px yellow;
}


/* -----bordes de prueba------ */

body{
/*	padding-bottom: 3rem;
*/
}


.cuerpo{
/*	background-color: red;*/
 	background-image: url("../images/back-app-blu.png");
 	background-repeat: repeat;
/* 	min-height: 100vh;
*/}

.btn-ancho{
	width: 100%;
	top: 0;
	/*left: -50%;*/
}

.separador{
	height: 20px;
}

.zero-padding{
	padding:0px!important;
}

.pie{
  position: absolute;
  right: 0;
  bottom: 0!important;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  height: 3rem;
  margin-bottom: 0;
}

.renglon-logo{
	padding:2%;
}

.renglon-logo img{
	width: 70%;
	margin-bottom: -12%;
}

.renglon-titulo h5{
	margin-bottom: -4%;
}

/* barra superior */
.topbar-boton-arriba-izquierda{
/*	position: relative!important;
*/	display: block!important;
}

.top-bar-primeralinea{
	font-size: 1.7em;
	line-height:1.1em;
	
	margin-top: 2px!important;
	margin-bottom: -8px!important;
/*	margin:auto;
*/}

.top-bar-segundalinea{
	line-height:1.1em;
	margin-bottom: 0px!important;

/*	margin-top: -12px!important;
*/}

.top-titulos {
	width:62%;
	margin-left: 50px;
	float: left;
	padding: 0;
}

.logo-menu{
	max-width: 30%;
	margin: auto;
	padding-top: 4%;
}

.avatar-menu{
	height:35px;
	width:35px;
	margin:7px;
}





/*//////////ESTILOS MMJ //////////////*/
.no-margen{
	margin:0!important;
}

.no-padding{
	padding: 0!important;
}

.no-padding-left{
	padding-left: 0!important;
}

.no-padding-right{
	padding-right: 0!important;
}

.no-padding-top{
	padding-top: 0!important;
}

.logo-topbar img{
	max-height: 1.1em;
	width: auto;
	left: 18%;
}

.cont-tab .icono {
	width: 25px;
	display: inline-block;
}

.cont-tab .text-icn{
	max-width: 130px;
	display: inline-block;
/*	vertical-align: super;*/
	font-size: 1.1em;
}

.tiratabs{
	border-top: solid 1px rgba(255,255,255,.2);
}

.header-tabs{
	margin-bottom: 0!important;
}

.header-tabs .single-tab{
	border-right:solid 1px rgba(255,255,255,.3);
	;
}

.header-tabs .activa {
	/*box-sizing: border-box;*/
	background-color: rgba(255,255,255,.25);
	border-bottom: solid 4px rgba(0,0,0,.25);
}

.cont-tab .falso-texto{
	visibility: hidden;
}

.selector-materia{
	min-width: 250px;
	text-decoration: none;
	color:#616161;
	font-size: 1.2em;
	font-weight: 500;
}

.pad-tab-in{
	padding: 1.1em .9em 1em;
}

.lbl-dropdo{
	color:#9e9e9e;
	font-size: .8em;
}

.icn-dropdo{
	color:#616161;	
}

.txt-dropdo li a{
	color:#616161!important;
}

.f-dictado{
	color:#666666;
	font-size: .78em;
}

.cada-filtro{
	display: block;
	width: 33%;
	float: left;
	text-align: center;
	border-right: solid 1px #444;
}

.cada-filtro:nth-last-of-type(1) {
	border:none;
}

.cada-filtro label{
	text-align: center;
	padding-left: 0 !important;
	display: block;
}


/*/  listado de temas  /*/


.cada-filtro [type="radio"]:checked + label{
  background-color: #00695c!important;
  color: #ffffff;
}

.cada-filtro [type="radio"]:not(:checked) + label{
  color: #444;
}

.cada-filtro label:before,
.cada-filtro label:after{
	display: none;
}

.cada-filtro input,
.cada-filtro label {
 height:60px!important;
 line-height:60px!important;
 width: 100%;
}

.estado-clase{
	color: white !important;
	font-size: 9px !important;
	font-weight: 600 !important;
}

.revisar-tema{
	padding: 7px 18px 5px;
	/*padding: 4px 12px;*/
	background-color: #2e7d32;
	color: #ffffff;
	border-radius: 4px;
}


.revisar-tema .bt-abrir-clase i{
	color:#2e7d32;
	background-color: white;
	padding: 4px;
	border-radius: 50%;
}

.fecha-clase{
	color: #616161;
	font-style: italic;
}

.justi-feed,
.tema-content{
	text-align: justify;
}

.mostrando-extracto{
	height: 205px;
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0;
}

.contenido-extracto{
	padding:0 27px 0 27px;
}

.top-bar-actions{
	height: 45px;
	box-sizing: border-box;
}

.top-bar-btn{
	width: 120px;
	line-height: 42px;
	text-align: center;
	border-left: solid 2px lightgrey;
}

.top-bar-btn-back{
	width: 45px;
	line-height: 42px;
	text-align: center;
	border-right: solid 2px lightgrey;
}
/*
.top-bar-btn-back .accion-btn,
.top-bar-btn .accion-btn{
	display: block;
	margin: auto;
}*/

.top-bar-btn-back .accion-btn i,
.top-bar-btn .accion-btn i{
	vertical-align: middle!important;
	color: #424242;
}

.top-bar-btn .accion-btn .txt-btn{
	vertical-align: middle!important;
	color: #424242;
}

.crear-asignatura .header-calculada,
.editar-perfil .header-calculada{
	width: calc(100% - 45px)!important;
	float: left;
}	

.revisando-tarea .header-calculada,
.revisando-mensaje .header-calculada,
.mensajes .header-calculada,
.tareas .header-calculada,
.clases .header-calculada{
	width: calc(100% - 240px)!important;
	float: left;
}

.revisar_clases .header-calculada,
.ver-aula .header-calculada,
.creando-mensaje .header-calculada{
	width: calc(100% - 120px)!important;
	float: left;
}

.revisando-clase .header-calculada,
.editando-asignatura .header-calculada,
.ver-perfil .header-calculada,
.editando-mensaje .header-calculada{
	width: calc(100% - 165px)!important;
	float: left;
}

.dictando-clase .header-calculada,
.editando-tarea .header-calculada,
.creando-tarea .header-calculada,
.editando-clase .header-calculada,
.creando-clase .header-calculada{
	width: calc(100% - 285px)!important;
	float: left;
}


.ttl-calc{
	line-height: 45px;
	padding-left: 15px;
	color: #424242;
	font-weight: 500;
}

.msg-mostrar-resto{
	padding: 12px 20px;
	line-height: 19px;
	color: black;
	text-align: center;
	box-shadow: 0px -1px 3px 0px rgba(0,0,0,0.28);
}

.recurso-adj{
	border:solid 1px grey;
	width: 100%;
	height: 75px;
	overflow: hidden;
	border-radius: 6px;
	margin: 3px 2px;
}

.recurso-adj .avt-adj{

	width: 30%;
	float: left;
	position: relative;
}

.recurso-adj .avt-adj img{
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.recurso-adj .avt-adj .lupa-img{
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 3em;
	color: black;
	top: 0;
}

.recurso-adj .avt-adj .icon-placeholder{
	/*position: absolute;*/
	width: 100%;
	height: 100%;
	font-size: 3em;
	color: black;
	top: 0;
}

.recurso-adj .avt-adj .lupa-img i{
	font-size: 65px;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	padding-top: .2em;
	/*text-shadow: 0px 0px 10px rgb(0,0,0);*/
	opacity: .5;
	color: #ffffff;
}

.recurso-adj .avt-adj .icon-placeholder i{
	font-size: 65px;
	vertical-align: middle;
	width: 100%;
	text-align: center;
	/*padding-top: .2em;*/
	/*text-shadow: 0px 0px 10px rgb(0,0,0);*/
	/*opacity: .5;*/
	color: #444444;
}


.recurso-adj .des-adj{
	float: left;
	width: 70%;
	position: relative;
	padding-right: 25px;
}

.recurso-adj .des-adj .nombre-adj{
	color: #212121;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px 12px;
	font-size: 17px;
	margin-top: 10px;
	padding-bottom: 0; 
	margin-bottom: 0;
}

.recurso-adj .des-adj .tipo-adj{
	color: #424242;
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px 12px;
	font-size: 15px;
	margin-top: 0;
	padding-top: : 0;
	margin-bottom: 0;
}

.recurso-adj .des-adj .tipo-adj i{
	vertical-align: middle;
}

.res_vid_cont {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
}

.res_vid_cont iframe{
	display: block;
	margin: auto;
}

.res_vid_cont iframe, .res_vid_cont object, .res_vid_cont embed {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

.video-modal{
	max-height: 95%!important;
	top: 2.5%!important;
}

.contenedor-imagen img{
	max-width: 100%;
}

/* tareas */

.relativo{
	position: relative;
}

.icono-tarea i {
	font-size: 19px;
	line-height: 42px;
	text-align: center;
}
.icono-header i{
	font-size: 30px;
	line-height: 42px;
	text-align: center;
	vertical-align: top;
}

.title-header{
	font-size: 1.2em;
	font-weight: 600;
}

/*.icono-tarea i {
	color: white;
	font-size: 19px!important;
	line-height: 28px!important;
	margin-top: 6px;
	border-radius: 50%;
}*/

.sin-vencer i{
	color: #424242;
}

.fecha-sin-vencer{
	color: #424242!important;
}

.vencida i{
	color: #757575;
}

.fecha-vencida{
	color: #757575!important;
}

.btn-ver{
	padding: 7px 18px 5px;
	color: #ffffff;
	border-radius: 4px;
}

.link-listado {
	padding: 7px 18px 5px;
	background-color: #424242;
	color: #ffffff;
	border-radius: 4px;	
}

.tarea-completa{
	background-color: #424242;
}

.editar{
	background-color: #ef6c00;
}

.dar-clase {
	background-color:#2e7d32;
}

.mensajes-leidos{
	background-color: #0277bd;
}

.eliminar{
	background-color: #c62828;
}

.adjuntar-recurso{
	background-color: #00695c;
}

.anchoyalto{
	width: 100%;
	display: block;
	margin: 5px auto;
	padding: 8px;
}

.icon-btn i{
	background-color: white;
	padding: 4px;
	border-radius: 50%;
}

.tarea-completa .icon-btn i{
	color:#424242;
}

.editar .icon-btn i{
	color:#ef6c00;
}

.dar-clase .icon-btn i{
	color:#2e7d32;
}

.mensajes-leidos .icon-btn i{
	color: #0277bd;
}

.eliminar .icon-btn i{
	color: #c62828;
}

.adjuntar-recurso .icon-btn i{
	color: #00695c;
}

/*******stats************/

.cabeza-stat{
	background-color: #eeeeee!important;
}

.renglon-alumno{
	/*background-color: yellow!important;*/
	padding: 15px 7px 10px!important;
}

.icono-alumno{
	color:#424242;
	vertical-align: middle;
	padding-top: 11px;
}

.stat-number{
	font-size: 16px;
	margin-right: 10px;
	color:#616161;
}

.stat-icon i{
	vertical-align: middle;
	font-size: 15px;
	color:#616161;
}

.p-nombre-alumno-stat{
	max-width: 90%;
}
.listado-alumnos-stat{
	min-height: 62px!important;
	padding-left: 50px!important;
	border:solid 1px #e0e0e0;
}

.icono-stat-alumno{
	left:7px!important;
	width: 32px!important;
	height: 32px!important;
	line-height: 32px!important;
}

.last-conect{
	font-size: 12px;
	line-height: 14px;
	margin-left: 5px;
	text-align: center;
	top: 18px!important;
	right: 10px!important;
	color: #616161!important;
}


/* ///////dictando clase//////// */

.cabecera-dictando-clases{
	display: block;
	min-height: 3rem;
	line-height: 3rem;
	padding: 0 1rem;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}
 
.dictando-clase-bdg{
	margin-top: -7px!important;
	color: white !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}

.fab-text{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 12px;
	left: 0;
	line-height: 1em;
}

.fab-text-descrip{
	font-size: 11px;
	font-weight: 600;
}

.adjuntar-enclase{
	margin-top: -3px;
	font-style: normal;
	color: #414141 !important;
	padding: 3px;
	/*background-color: #f5f5f5;*/
	border-radius: 4px;
}

.adjuntar-enclase span a{
	color: #414141 !important;
}
.menu-adjuntar{
	width: max-content!important;
}

.menu-adjuntar li a{
	color: #414141 !important;
}

.esconder-en-chiquito{
	display: unset;
}

.mostrar-en-chiquito{
	display: none;
}

/* editar clase */

.btn-delete{
	margin-top: -7px;
}

.quitar-recurso{
	position: absolute;
	top: 4px;
	right: 4px;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	text-align: center;
}

.quitar-recurso i{
	font-size: 22px;
	line-height: 30px;
	color: white;
	font-weight: 600;
}

/* //// controlando tarea////   */

.listado-tarea{

}

.listado-tarea .nohizo-tarea,
.listado-tarea .hizo-tarea{
	padding-left: 10px!important;
	padding-right: 10px!important; 
}

.listado-tarea .hizo-tarea{
	color:#212121;
}

.listado-tarea .hizo-tarea i{
	color:#1565c0;
}

.listado-tarea .nohizo-tarea{
	background-color: #f5f5f5!important;
	color:#616161;
}

.listado-tarea .nohizo-tarea i{
	color:#616161;
}

.padding-tarea{
	padding: 0 20px;
}

.cabecera-listado-respuestas{
	color: white;
	padding: 6px 20px !important;
	background-color: #424242 !important;
	font-weight: 600;
}


/* ///////////NUEVO MENSAJE//////////// */


#select-destinatario{
    display: none;
}

/*///// editar mensaje /////////*/
.detalles-msg{
	margin-bottom: 1.8em;
}

.detalle-destinatario{
	font-size: 1.2em;
}

/*///// revisar mensaje /////////*/
.btn-inbar{
	padding: 0px 8px 0px;
	color: #ffffff;
	border-radius: 4px;
	margin-top: 2px;
}

.panel-tarea,
.panel-mensaje{
	border: solid 1px gray;
}

.ttl-mensaje{
	font-size: 20px;
}

.panel-tarea .ttl-mensaje{
	margin-top: 10px!important;
}

.panel-tarea .tema-content{
	margin-top: 15px!important;
	margin-bottom: 15px!important;
}


/* ////   perfil usuario   //// */

.ttl-data-input{
	line-height: 30px;
	padding-left: 7px;
	color: #424242;
	font-weight: 500;
	font-size: 1.3em;
}

.ttl-data-input i{
  vertical-align: text-bottom;
}

/* /// ver perfil ///  */

.datos-personales{
	color:#333;
	margin: 8px 0px 2px!important;
}

.datos-personales:nth-of-type(1) {
  margin-top: 0!important;
}

.asignaturas .datos-personales:nth-of-type(1) {
  padding-bottom: 7px;
}

/*  ////  ver aula  ////   */


.aula-col{
	padding: 2px !important;
}

.aula-col .ver-aula{
	margin: 2px 0;
	border:solid 1px lightgrey;
}

nav .brand-logo {
	margin-top: 5px;
}

.info-row{
	/*background-color: green;*/
	width: auto;
	position: absolute;
	right: 255px;
	top: 12px;
	border-radius: 4px;
	text-align: center;
	padding: 5px 10px 5px 40px;
	z-index: 2;
	opacity: 0;
	animation-name: autoesconder;
  animation-duration: 10s;
  border:solid 1px white;
}

@keyframes autoesconder{
	0%   {opacity: 1;}
	70%   {opacity: 1;}
  100% {opacity: 0;}
}

.info-row .ico-down{
	display: none;
}

.info-row .ico-medup{
	display: unset;
}

.info-row p{
	color:white;
}

.info-row p i{
	vertical-align: bottom;
	margin-left: 10px;
	color:white;
	animation-name: titilar;
  animation-duration: 5s;
}

@keyframes titilar{
	0%   {color: white;}
	4%   {color: #42a5f5;}
	8%   {color: white;}
	12%   {color: #42a5f5;}
	16%   {color: white;}
	20%   {color: #42a5f5;}
	24%   {color: #42a5f5;}
	28%   {color: white;}
	32%   {color: #42a5f5;}
	36%   {color: white;}
	40%   {color: #42a5f5;}
	44%   {color: white;}
}

.info-row .bt-close{
	color: #333;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	/*background-color: white;*/
	line-height: 34px;
	font-size: 20px;
	width: 34px;
	height: 34px;
	border-radius: 4px 0 0 4px;
	padding-top: 5px;
}


/* ****ver alumno**** */

.tarjeta-contacto{
	border: solid 1px gray;
	border-radius: 4px;
	overflow: hidden;
}

.ico-dni{
	background-color: black;
	padding: 5px 6px;
	border-radius: 3px;
	color: white;
	font-size: 11px;
	font-weight: 600;
}

.body-data{
	padding: 0 10px!important;
}

.col-foto-contact{
	position: relative;
}

.nombre-en-foto{
	padding: 5px 12px;
	background-color: rgb(0,0,0);
	color:white;
	font-size: 1.1em;
	position: absolute;
	bottom: 0;
	width: 100%;

}

.head-data-in-card{
	background-color: #eeeeee;
	padding-right: 10px; 
}

.row-data-ttr-in-card,
.row-data-in-card{
	margin: 8px 0;
}

.row-data-ttr-in-card{
	margin-left: 10px;
}

.row-data-ttr-in-card i,
.row-data-in-card i{
	vertical-align: middle;
}

/**  asistencias  **/

.listado{
	width: 80%;
	display: block;
	margin: auto!important;
}

.header-listado{
  font-size:1.6rem;
  padding:0 5px 0;
}

.icon-student{
  vertical-align:bottom;
}

.name-student{
  font-size:1.5rem;
  line-height:1rem;
  padding-left: 5px;
}

.caja-alumno-asistencia{
  padding: 20px 0!important;
}

.listado .li-alumno:nth-of-type(2n){
  background-color: #e0e0e0!important;
}

.datos-alumno{
  color:#616161;
}

.nombre{
  width: 68%;
  vertical-align: top;
  float: left;
}

.asist{
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.numero{
	font-size: 1em;
  font-weight: 700;
  color: #000000;
}

.totales{
  padding: 4px;
  border:solid 1px #333333;
  background-color: rgba(255,255,255,.5);
  position: fixed;
  top: 9%;
  right: 35%;
  border-radius: 3px;
}

.presentes,
.ausentes{
	display: inline-block;
  padding: 3px 6px;
  border:solid 1px #bdbdbd;
}

.presentes span.count{
  display: block;
  margin: auto;
  text-align: center;
  font-size: 1.4em;
  color: #1b5e20;
}

.ausentes span.count{
  display: block;
  margin: auto;
  text-align: center;
  font-size: 1.4em;
  color: #b71c1c;
}

.line2 span{
  text-transform: uppercase;
  font-size: 12px;
  display: block;
  margin: auto;
  padding: 0;
  margin: 0;
}

.ausentes .line2 span{
  color:#b71c1c;
}

.presentes .line2 span{
  color:#1b5e20;
}

.asist .switch label{
  font-size: 1.1em;
}

.asist .switch label .lever{
  margin-left: 2px;
  margin-right: 4px;
}

/* ///////////
///////
//////////
//// TUTOR ///////////
///////
//////////
////   */

.dropd-hijos{
	width: max-content!important;
	right: 0;
}

.post-col{
	padding: 2px !important;
}

.tarjeta-post{
	margin:5px 2px!important; 
}

.encabezado-post{
	height: 66px;
	border-bottom: solid 1px #e0e0e0;
}

.elemento-hdr {
	display: inline;
	float: left;
	padding-top: 6px;
}

.actividad-avt{
	margin: 6px;
	height: 54px;
	width: 54px;
	border:solid 1px lightgrey;
	border-radius: 2px;
}

.actividad-avt i{
	font-size: 30px;
	padding-left: 12px;
	padding-top: 5px;
	color: #595959;
}

.actividad-hdr{
	width: calc(100% - 100px);
}

.actividad-hdr .ttl-post{
	font-size: 16px;
	font-weight: 400;
}

.actividad-hdr .mtdt-post{
	font-size: 14px;
	font-weight: 500;
	margin-top: 3px;
}

.resumen-en-feed{
	height: 80px;
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.recuso{
	width: 100%;
	display: block;
	margin-top: 8px;
}

.una-imagen {
	height: 160px;
	overflow: hidden;
}

.una-imagen .img-adj {
	width:100%;
	object-fit: cover;
}

.dos-imagen {
	height: 80px;
	overflow: hidden;
}

.tres-imagen {
	height: 60px;
	overflow: hidden;
}

.dos-imagen .continente-recurso{
	width: 49%;
	float: left;
}

.tres-imagen .continente-recurso{
	width: 32%;
	float: left;
}

.continente-recurso{
	margin-right: 2%;
	border: solid 1px red;
}

.continente-recurso:nth-last-of-type(1){
	margin-right: 0;
	border: solid 1px green;
}

.img-adj {
	width:100%;
	object-fit: cover;
	float: left;
}

/* ///////////
///////
//////////
//// directivo ///////////
///////
//////////
////   */

.ttl-calc-nombre-escuela-topbar{
	width: calc(100% - 200px);
	text-align: right;
	margin-right: 10px;
}

.grado-nombre{
	width: 70px;
	height: 100%;
	padding: 14px;
	font-weight: 600;
}

.grado-nombre span{
	font-size: 20px;
	display: block;
	margin: auto;
	text-align: center;
}

.grado-asistencia{
	width: 110px;
	height: 100%;
	padding: 14px;
	font-weight: 600;
}

.grado-asistencia span{
	font-size: 18px;
	vertical-align: text-bottom;
}

.doc-nombre {
	width: calc(100% - 180px);
	font-size: 18px;
	padding-top: 17px;
	padding-left: 10px;
}

.renglon-resumen{
	height: 66px;
	border-bottom: solid 1px #e0e0e0;
}

.elem-renglon-resumen{
	float: left;
	padding-top: 6px;
}


.icon-rsm{
	margin: 6px;
	height: 54px;
	width: 54px;
	border: solid 1px lightgrey;
	border-radius: 2px;
}

.icon-rsm i{
	font-size: 30px;
	padding-left: 12px;
	padding-top: 5px;
	color: #595959;
}

.descrip-rsm{
  width: calc(100% - 110px);
}

.ttl-rsm{
	font-size: 16px;
	padding-top: 2px;
}

.mtdt-rsm{
	font-size: 14px;
	padding-top: 2px;
}

#mostrando-seleccionado{
position: relative;
font-size: 18px;
line-height: 9px;
vertical-align: text-bottom;
}


#mostrando-seleccionado .etiqueta{
	color: grey;
	/* font-weight: 800; */
	position: absolute;
	top: -10px;
	left: 0;
	font-size: 10px;

}

.sumary-class-link{
	text-decoration: none;
	position: relative;
}


.hover-clase{
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 23.5%;
	background-color: rgba(255,255,255,.7);
	display: none;
}

.hover-clase{
	text-align: center;
}

.hover-clase i{
	display: block;
}

.hover-clase p{
	margin-top: 0;
}

.sumary-class-link:hover .hover-clase{
	display: block;
}

.cada-filtro-mes{
	display: block;
	width: 15.2%;
	float: left;
	text-align: center;
	border: solid 1px #444;
	height: 40px;
	margin: 2px;
	box-sizing: border-box;
	border-radius: 3px;
}

.cada-filtro-mes label{
	text-align: center;
	padding-left: 0 !important;
	display: block;

	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 0 2px !important;
}


.cada-filtro-mes [type="radio"]:checked + label{
  background-color: #00695c!important;
  color: #ffffff;

}

.cada-filtro-mes [type="radio"]:not(:checked) + label{
  color: #444;
}

.cada-filtro-mes label:before,
.cada-filtro-mes label:after{
	display: none;
}

.cada-filtro-mes input,
.cada-filtro-mes label {
 height:40px!important;
 line-height:40px!important;
 width: 100%;
}

/* FILTROS PREFORMATEADOS 

#renglon-periodo{
	display: none;
}*/

.cada-filtro-prefor{
	display: block;
	width: 18.5%;
	float: left;
	text-align: center;
	border: solid 1px #444;
	height: 40px;
	margin: 2px;
	box-sizing: border-box;
	border-radius: 3px;
}

.cada-filtro-prefor label{
	text-align: center;
	padding-left: 0 !important;
	display: block;

	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 0 2px !important;
}


.cada-filtro-prefor [type="radio"]:checked + label{
  background-color: #00695c!important;
  color: #ffffff;

}

.cada-filtro-prefor [type="radio"]:not(:checked) + label{
  color: #444;
}

.cada-filtro-prefor label:before,
.cada-filtro-prefor label:after{
	display: none;
}

.cada-filtro-prefor input,
.cada-filtro-prefor label {
 height:40px!important;
 line-height:40px!important;
 width: 100%;
}

#renglonperiodo{
	display: none;
}

.link-perfil-docente .icono-docente i{
	font-size: 30px;
	line-height: 0;
	vertical-align: middle;
	color:#616161;
}



/*  ver tareas  */



.cumplido_percent{
	padding: 7px;
	color:#ffffff;
	border-radius: 4px;
}

.bad-answer{
	background-color: #b71c1c;
}

.good-answer{
	background-color:#1b5e20;
}

.regular-answer{
	background-color:#ffea00;
	color:#000;
}

@media only screen and (max-width: 992px) {
	nav .brand-logo {
		left:64px!important;
		margin-left: 15px;
	}

/**  asistencias  **/

	.listado{
		width: 85%;
		display: block;
		margin: auto!important;
	}

}

@media only screen and (max-width: 790px){
	.nombre-en-foto{
		bottom: -40px;
	}

	/**  asistencias  **/
	.listado{
		width: 90%;
		display: block;
		margin: auto!important;
	}	
}

@media only screen and (max-width: 600px) {

	.columna-tarea,
	.columna-mensaje {
		padding: 0!important;
	}
	
	.cont-ppal,
	.pad-tab-in {
    padding: 0!important;
	}

	.cont-ppal .card{
		margin-top: 0!important;
	}

	.card .card-content {
    padding: 5px 10px!important;
	}

	.panel-tarea,
	.panel-mensaje {
    padding: 12px!important;
	}

	.info-row{
		width: auto;
		position: absolute;
		right: 12px;
		top: 42px;
		border-radius: 4px;
		text-align: center;
		padding: 5px 10px 5px 40px;
		z-index: 2;
	}

	.info-row .ico-medup{
		display: none;
	}

	.info-row .ico-down{
		transform: rotate(270deg);
		display: inline-block;
	}

	.head-data-in-card:nth-of-type(1) {
		display: none;
	}

	.nombre-en-foto{
		bottom: 0;
	}
	
	/**  asistencias  **/
	.listado{
		width: 96%;
		display: block;
		margin: auto!important;
	}




}

@media only screen and (max-width: 480px) {
	.cont-tab .text-icn {
	  display: inline;
	  margin: auto;
	}

	.cont-tab .icono {
	  display: inline;
	  margin: auto;
	  height: 25px;
	}

	.cont-tab .icono i{
		height: 42px;
	}

	.lista-tareas{
		padding-right: 5px!important;
		padding-left: 10px!important;
	}

	.nombre-en-foto{
		bottom: 0;
	}
}

@media only screen and (max-width: 350px) {
	.logo-topbar{
		display: none!important;
	}

	.cargo-topbar li i{
		display: none!important;	
	}

	.cargo-topbar li a i{
		display: block!important;	
	}

	.pad-tab-in{
		padding: 0 0 1em;
	}

	.card .card-content {
    padding: 12px!important;
  }

  .revisando-clase,
  .editando-asignatura,
  .ver-aula,
  .ver-perfil,
  .dictando-clase,
	.revisando-tarea,
  .revisando-mensaje,
  .editando-mensaje,
  .creando-mensaje,
  .editando-tarea,
  .creando-tarea,
	.editando-clase,
	.creando-clase{
		margin-top:0!important; 
	}

	.icono-alumno{
		display: none;
	}

	.icono-stat-alumno{
		display: none!important;
	}

	.listado-alumnos-stat{
		padding-left: 20px!important;
	}

	.esconder-en-chiquito{
		display: none;
	}

	.mostrar-en-chiquito{
		display: unset;
	}

	.padding-tarea{
		padding: 0!important;
	}

	.tarea-completa .icon-btn i{
		display: none;
	}

	.top-bar-btn{
		width: 45px;
	}
	
	.revisando-clase .header-calculada,
	.editando-asignatura .header-calculada,
	.ver-perfil .header-calculada,
	.revisando-tarea .header-calculada,
	.editando-mensaje .header-calculada,
	.revisando-mensaje .header-calculada,
	.mensajes .header-calculada,
	.tareas .header-calculada,
	.clases .header-calculada{
		width: calc(100% - 90px)!important;
		
	}


	.revisar_clases .header-calculada,
	.crear-asignatura .header-calculada,
	.editar-perfil .header-calculada,
	.ver-aula .header-calculada,
	.creando-mensaje .header-calculada{	
		width: calc(100% - 45px)!important;
	}
	
	.dictando-clase .header-calculada,
	.editando-tarea .header-calculada,
	.creando-tarea .header-calculada,
	.editando-clase .header-calculada,
	.creando-clase .header-calculada{
		width: calc(100% - 135px)!important;
	}	


	.top-bar-btn .accion-btn .txt-btn{
		display: none;
	}

	.ttl-mensaje {
    font-size: 16px;
  }

  .nombre-en-foto{
		bottom: 0;
	}

	/**  asistencias  **/
	.listado{
		width: 100%;
		display: block;
		margin: auto!important;
	}

	/* dashboard directivo */

	.ttl-calc-nombre-escuela-topbar {
    width: calc(100% - 85px)!important;
  }

}